.genres-container {
    padding-top: 120px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.genre-block {
    width: 200px;
    height: 100px;
    font-size: 28px;
    font-weight: bold;
    background: blue;
    opacity: 0.8;
}

.genre-block > a {
    line-height: 100px;
}

.genre-block > a:hover {
    color: #61dafb;
}