.pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
}

button {
    width: 160px;
    height: 32px;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 14px;
}

button[disabled] {
    background: #282c34;
    color: black;
}

button:hover {
    background: blue;
    cursor: pointer;
}